

body {
	margin: 0;
	padding: 0;
	color: #999;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em; 
	background-color: #665f5f;
	background-repeat: repeat;
	background-image: url(images/templatemo_body.jpg)
}

#templatemo_header {
	width: 960px;
	height: 70px;
	padding: 30px 10px;
	background: url(images/templatemo_header_bg.png) no-repeat bottom; 
}

#site_title { float: left; margin-top: 30px; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 300px; height: 40px; padding-top: 30px; font-size: 12px; letter-spacing: 4px; color: #2f2f2f; text-align: left; background: url(images/templatemo_logo.png) no-repeat top left }

#header_right { float: right; margin: 35px 240px 0 0; color: #666; }
#header_right a { color: #fff }